#register-form {
  position: relative;
  width: 300px;
  left: 45px;
}

#labelUsername {
  position: relative;
  right: 29px;
}

#submitRegistration {
  position: relative;
  left: 191px;
}

#user-list {
  left: 31px;
}

#row-positioning {
  left: 230px;
  position: relative;
  top: 50px;
}

#user-name {
  top: 6px;
  position: relative;
  left: 10px;
}

#user-item {
  padding-bottom: initial;
}

#edit-user {
  position: relative;
  left: 339px;
  bottom: 26px;
  font-size: 18px;
}

#delete-user {
  left: 340px;
  bottom: 26px;
  font-size: 18px;
  position: relative;
}
